body {
	margin: 0;
	font-family: "Inter", sans-serif;
}

.App {
	min-height: 100vh;
	background-image: linear-gradient(to top, #feada6 0%, #f5efef 100%);
}

.search-form {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar {
	width: 50%;
	border: none;
	padding: 10px;
}

.search-button {
	background: lightcoral;
	border: none;
	padding: 10px 20px;
	color: white;
}

.recipes {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 80%;
	margin: auto;
}

.recipe {
	box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
	margin: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	background: white;
	align-items: center;
	flex-basis: 50%;
}

.image {
	border-radius: 50%;
}
